html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #282828;;
    color: white;
}

td {
    padding:6px 10px;
    text-align: left;
}
#center-wrapper {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;

}

#content {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans -serif;
    margin-top: 20px;
}

.button {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #EF018B;
    font-weight: bold;
    color: white;
}

.buttonXL {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #EF018B;
    font-weight: bold;
    color: white;
}
.label{
    color:gray;
    font-style: italic;
    text-align: left;
}

