.cbContenedorGralBordeado{

    width:820px !important;
    margin-left:0px !important;

}
.cmpVsrPagos{
    width:800px !important;
}

.cmpVsrFilaArticuloObservaciones{
    width:800px !important;
}

.cbContenedorGralBordeadoDetalle{
    width:800px !important;
    margin-left:0px !important;

}