@import 'tailwindcss';
@import './fixForOKLCHForTailwind.css';

@import 'flowbite-react/plugin/tailwindcss';
@source '../../.flowbite-react/class-list.json';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../views/**/*.blade.php';
@source '../**/*.blade.php';
@source '../**/*.{js,jsx,ts,tsx}';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    /* DARK THEME*/
    --dark-bg-color: #282828;
    --dark-font-color: white;

    --dark-bg-card: #2b2929;
    /* LIGHT THEME*/
    --bg-color: #F3F4F5;
    --font-color: rgb(103 116 142 / var(--tw-text-opacity));

    /*
    screens:{
        'xs': '480px',
        'sm': '640px',
        'md': '768px',
        'lg': '1024px',
        'xl': '1280px',
    };
*/
    --breakpoint-nexl: 80.625rem;
    --breakpoint-nelg: 66.625rem;

    --color-primary: #3b82f6; /* Azul de ejemplo */
    --color-secondary: #ec4899; /* Rosa de ejemplo */

    /* Opcional: Definir escalas de color (50-950) */

    --color-primary-50: rgb(253, 242, 248);
    --color-primary-100: rgb(252, 231, 243);
    --color-primary-200: rgb(252, 206, 232);
    --color-primary-300: rgb(253, 165, 213);
    --color-primary-400: rgb(251, 100, 182);
    --color-primary-500: rgb(246, 51, 154);
    --color-primary-600: rgb(230, 0, 118);
    --color-primary-700: rgb(246, 51, 154); /*rgb(198, 0, 92); */
    --color-primary-800: rgb(163, 0, 76);
    --color-primary-900: rgb(134, 16, 67);
    --color-primary-950: rgb(81, 4, 36);

}

@utility ne-dark-body {
    background-color: var(--dark-bg-color);
    color: var(--dark-font-color);
}

@utility ne-dark-card {
    background-color: var(--dark-bg-card);
    color: var(--dark-font-color);
}


@utility ne-body {
    background-color: var(--bg-color);
    color: rgb(103 116 142 / var(--tw-text-opacity));
}

@utility ne-dark-input {
    background-color: var(--dark-bg-color);
    color: var(--dark-font-color);

}
@utility ne-light-input {
    background-color: var(--bg-color);
    color: var(--font-color);
}

@utility ne-aux {
    width: 600px; /* Set a width for the div */
    height: 400px; /* Set a height for the div */
    background-size: cover; /* Optional: Scale the image to cover the entire div */
    background-position: center; /* Optional: Center the image */
    background-repeat: no-repeat; /* Optional: Prevent the image from repeating */
    color: white; /* Optional: Adjust text color for readability against the background */
    padding: 20px; /* Optional: Add some padding for content */
}

/*** SELECT CLASS ****/

@layer utilities {

    .choices__inner {
        height: 38px !important;
        min-height: 38px !important;
        padding: 5px 7.5px 3.75px !important;
        border-radius: 8px !important;
        background-color: transparent !important; /* Optional: Scale the image to cover the entire div */
    }

    .choices__list--dropdown {
        background-color: var(--bg-color) !important;
        color: var(--font-color) !important;
    }

    .is-highlighted {
        color: var(--dark-font-color) !important;
        background-color: pink !important; /* Optional: Scale the image to cover the entire div */
    }

    .choices__input {
        background-color: var(--bg-color) !important;
        color: var(--font-color) !important;
    }

    @media (prefers-color-scheme: dark) {
        .choices__input {
            background-color: var(--dark-bg-color) !important;
            color: var(--dark-font-color) !important;
        }

        .choices__list--dropdown {
            background-color: var(--dark-bg-color) !important;
            color: var(--dark-font-color) !important;
        }

        .is-highlighted {
            color: var(--font-color) !important;
            background-color: pink !important; /* Optional: Scale the image to cover the entire div */
        }

    }

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .scrollbar-hidden {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .ReactModal__Overlay{
        z-index:1010
    }
    /**** Flow bite datepicker ****/
    .date-picker-wrapper input {
        /* o directamente */
        padding-left: 2.5rem !important;   /* 40px */
        padding-right: 1rem !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }

    .date-picker-wrapper-dark .inline-block
    {
        background-color: black !important;
    }

    .date-picker-wrapper-dark .justify-between button
    {
        background-color: black !important;
    }

    .date-picker-wrapper-dark .border.border-gray-300.bg-white.text-gray-900
    {
        background-color: rgb(156, 163, 175) !important;
        color: black !important;
    }

    .date-picker-wrapper-dark input {
        background-color: var(--dark-bg-color) !important;
        color: white !important;
    }
    /***************************/

    .choices {
        margin-bottom: 0px !important;
    }
}
